.article{
    display: flex
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .Container {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

header li, a{
    display: inline;
    text-decoration: none;
}

.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article{
    padding: 2px;
    min-width: 300px;
    max-width: 1000px;
    width: 33%;
}

.article article img{
    padding: 2px;
    height: 180px;
    min-width: 180px;
    max-width: 1000px;
    margin: auto;
}

.article a{

    text-decoration: none;

    background-color: blue;

    color: #CCC;

    padding: 8px;

}

p{

    margin: 20px 0;

}

#Sports {
    background-color: burlywood;
    padding: 10px 0px;
    margin-top: 10px 0px;
}

#Economy {
    background-color: rgb(135, 222, 171);
    padding: 10px 0px;
    margin-top: 10px 0px;
}

#Gamers {
    background-color: rgb(153, 122, 224);

    padding: 10px 0px;

    margin-top: 10px 0px;
}

#Music {
    background-color: rgb(138, 51, 123);
    padding: 10px 0px;
    margin-top: 10px 0px;
}

.Creation-date{
    color:#CCC
}